@CHARSET "UTF-8";
body{

}
.box{
	
}
.main{
	width:1000px;
	margin:0px auto;
}
a{
	text-decoration:none;
}
span.error{
	color:#ff0000;
	font-size:16px;
	padding-left:10px;
}
span.pass{
	color:#008000;
	font-size:16px;
	padding-left:10px;
}
.nav{
	margin-top:100px;
	text-align:center;
	height:50px;
}
.nav a{
	width:250px;
	padding:20px 20px;
	font-size:20px;
	border:solid 1px #ff0000;
	margin:20px 20px;	
}
.nav a.page{
	background-color:#ffff00;
}
.main .list{
	margin-top:70px;
}
.main .list .title{
	text-align:center;
	font-size:28px;
	margin-bottom:10px;
}
.main .list form, .main .list table{
	font-size:20px;
	text-align:center;
}
.main .list form input{
	height:22px;
	width:200px;
	text-align:center;
}
.main .list form input.btn{
	width:80px;
	padding:5px 10px;
	height:30px;
}
.main .list table{
	width:800px;
	padding:10px 20px;
	margin:0px auto;
	
}
.main .list table td{
	
	padding:5px 10px;
}
.main .list table td:first-child{
	text-align:right;

}
.main .list .money{
	width:690px;
	margin:0px auto;
	padding-bottom:60px
}
.main .list .money form.money_right{
	float:right;
}
.main .list .money form.money_left{
	float:left;
}
.main .list .money form input{
	width:100px;
}
.main .list .money form input[type=submit]{
	width:70px;
	height:29px;
}
.main .list fome.btn input{
	
}
.footer{
	text-align:center;
	font-size:11px;
	padding-top:10px;
}

.main .list .cust_no_msg{
	text-align:center;
	font-size:24px;
	color:#e80d0d;
	padding: 20px 0px;
}

